---
import SiteLayout from "../layouts/SiteLayout.astro";
import { queryWordPress } from '../lib/api';
import { gql } from 'graphql-request';

type SlugResponse = {posts: {
    edges: {
        node: {
            slug: string
        }
    }[]
}}
// generate all the pages we need.
export async function getStaticPaths() {
      const query = gql`
        {
            posts(first: 10000) {
                edges {
                    node {
                    slug
                    }
                }
            }
        }
    `;
    const slugs = await queryWordPress<SlugResponse>(query);
    return slugs.posts.edges.map(({node}) => ({
        params: {slug: node.slug}
    }))
}

// use astro to pull individual slugs
const { slug } = Astro.params;
const singleQuery = gql`
{
    post(id: "${slug}", idType: URI) {
        title
        content
        date
    }
}
`
const {post} = await queryWordPress<{post: {title: string; content: string; date: string}}>(singleQuery);
---

<SiteLayout title={post.title} description="Test">
    <div class="wrapper content">
    <h1>{post.title}</h1>
    <section set:html={post.content} />
    </div>
</SiteLayout>
