---
import SiteLayout from '../layouts/SiteLayout.astro';
import BlogPostPreview from "../components/BlogPostPreview.astro";
import { queryWordPress } from '../lib/api';
import { gql } from 'graphql-request';

type HomepagePostListQuery = {
	posts: {
		edges: {
			node: {
				slug: string;
				title: string;
				content: string;
				date: string;
			}
		}[]
	}
	allSettings: {
		generalSettingsUrl: string;
		generalSettingsTitle: string;
	}
}

let title = "Example Blog";
let description = "The perfect starter for your perfect blog.";

const query = gql`
  {
      posts(first: 5) {
        edges {
          node {
            slug
			title
			content
			date
          }
        }
      }
	  allSettings{
		generalSettingsUrl
		generalSettingsTitle
	  }
    }
`;

const {posts, allSettings} = await queryWordPress<HomepagePostListQuery>(query);
---

<SiteLayout title={allSettings.generalSettingsTitle} description={description}>
	<div class="wrapper">
		<main class="content">
			<section class="intro">
				<h1>{allSettings.generalSettingsTitle}</h1>
				<p>{description}</p>
			</section>
			<section>
				<h2 class="sr-only">Blog post list</h2>
				{posts.edges.map(({ node }) => (
					<BlogPostPreview
						title={node.title}
						description={node.content}
						publishDate={node.date}
						url={`/posts/${node.slug}`}
					/>
				))}
			</section>	
		</main>
	</div>
</SiteLayout>
