---
import SiteLayout from '../layouts/SiteLayout.astro';
import BlogPostPreview from "../components/BlogPostPreview.astro";
import { queryWordPress } from '../lib/api';
import { gql } from 'graphql-request';

type HomepagePostListQuery = {
    posts: {
        edges: {
            node: {
                slug: string;
                title: string;
                excerpt: string;
                content: string;
                date: Date;
                featuredImage: {
                    node: {
                        mediaItemUrl: string;
                    }
                }
            }
        }[]
    }
    allSettings: {
        generalSettingsUrl: string;
        generalSettingsTitle: string;
    }
}

let description = "Ending Misinformation";

const query = gql`
  {
      posts(first: 20) {
        edges {
          node {
            slug
            title
            excerpt
            content
            date
            featuredImage {
                node {
                    mediaItemUrl
                }
            }
          }
        }
      }
      allSettings{
        generalSettingsUrl
        generalSettingsTitle
      }
    }
`;

const { posts, allSettings } = await queryWordPress<HomepagePostListQuery>(query);
---

<SiteLayout title={allSettings.generalSettingsTitle} description={description}>
    <div class="wrapper">
        <main class="content">
            <section>
                {posts.edges.map(({ node }) => (
                    <BlogPostPreview
                        title={node.title}
                        excerpt={node.excerpt}
                        description={node.content}
                        publishDate={node.date}
                        featuredImage={node?.featuredImage?.node?.mediaItemUrl}
                        url={`/${node.slug}`}
                    />
                ))}
            </section>
        </main>
    </div>
</SiteLayout>

<style>
    section {
        display: flex;
        flex-wrap: wrap;
    }
</style>
