---
export interface Props {
    title: string;
    excerpt: string;
    description: string;
    publishDate: Date;
    url: string;
    featuredImage: string;
}

const { title, description, excerpt, publishDate, featuredImage, url } = Astro.props as Props;
---

<article class="post-preview">
    <header>
        <a href={url}><h1 class="title">{title}</h1></a>
        <time>{new Date(publishDate).toLocaleString()}</time>
    </header>
    <p set:html={excerpt} />
    <img src={featuredImage} />
    <a href={url}>Read more</a>
</article>

<style>
    article {
        max-width: 33%;
        padding: 1rem;
    }
    .post-preview {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 4px solid var(--theme-divider);
    }

    .title,
    time {
        margin: 0;
    }

    time {
        font-size: 1.25rem;
        color: var(--theme-text-lighter);
    }

    .title {
        font-size: 2.25rem;
        font-weight: 700;
        color: var(--theme-text);
    }

    p {
        margin-top: 1rem;
    }
</style>
